@use "@scss/core/classlets";
@use "@scss/fonts/xo_caliburn" as dFont;
@use "@scss/core/utils" as u;

//
@layer ls-inputs {

    .ls-contextmenu {
        @extend .align-center;
        @extend .pe-enable;

        //
        inset: 0px;
        position: fixed;
        padding: 0.5rem;
        overflow: hidden;
        border-radius: 0.25rem;
        box-sizing: border-box;
        
        //
        z-index: 99999;

        //
        --rx: 0px;
        --ry: 0px;

        //
        --rx: calc(var(--click-x, 0) * 1px - calc(50cqi - 50%));
        --ry: calc(var(--click-y, 0) * 1px - calc(50cqb - 50%));

        //
        @media (hover: none) and (pointer: coarse) {
            --rx: calc(var(--click-x, 0) * 1px - 50cqi);
            --ry: calc(var(--click-y, 0) * 1px - 50cqb);
        }

        //
        --translate-x: clamp(0px, calc(calc(50cqi - 50%) + var(--rx)), calc(100cqi - 100%));
        --translate-y: clamp(0px, calc(calc(50cqb - 50%) + var(--ry)), calc(100cqb - 100%));

        //
        translate: var(--translate-x) var(--translate-y);
        box-shadow: 0px 0px 1rem 1px #00000070;
        
        //
        @include u.clamped-width(max-content, 16rem, 80cqi);
        @include u.clamped-height(max-content, max-content, 80cqb);

        //
        ul {
            @extend .stretch;
            @extend .align-center;
            @extend .pe-none;

            //
            padding: 0px;
            margin: 0px;
            position: relative;
            display: flex;
            gap: 0px;

            //
            min-inline-size: max-content;
            min-block-size: max-content;
            flex-direction: column;
            
            //
            li {
                @extend .stretch;
                @extend .align-center;
                @extend .pe-enable;
                
                //
                min-block-size: max-content;
                block-size: 3rem;
                display: grid;
                grid-template-columns: 
                    [icon] minmax(max-content, 3rem) 
                    [label] minmax(0px, 1fr);
                grid-template-rows: minmax(max-content, 3rem);
                cursor: pointer;
                font-size: 0.8rem;
                border-radius: 0.25rem;
                overflow: hidden;
                
                //
                & > .icon-decor {
                    @extend .stretch;
                    @extend .align-center;
                    
                    //
                    justify-self: center;
                    align-self: center;
                }
                
                //
                & > :where(.ctx-label, .icon-wrap) {
                    @extend .stretch;
                    @extend .align-center;
                    @extend .pe-none;
                    
                    //
                    justify-self: center;
                    align-self: center;
                    
                    //
                    display: flex;
                    min-inline-size: max-content;
                    min-block-size: max-content;
                    block-size: 3rem;
                    padding: 0.5rem;
                    
                    //
                    & :where(.lucide) {
                        @extend .stretch;
                        
                        //
                        inset: 0px;
                        translate: 0px 0px;
                    }
                    
                    //
                    & span {
                        display: inline-block;
                        block-size: max-content;
                        inline-size: max-content;
                    }
                }
                
                & > .ctx-label {
                    @extend .align-inline-left;
                    @extend .no-wrap;
                    
                    //
                    display: flex;
                }
                
                & > .icon-wrap {
                    @extend .align-center;
                    padding: 0.75rem;
                }
                
                
            }
        }
    }
}
