@use "@scss/core/classlets";
@use "@scss/fonts/xo_caliburn" as dFont;

//
.field-edit {
    display: grid;
    position: fixed;
    overflow: hidden;
    
    //
    inset: 0px !important;
    inset-block-start: 0px;
    inset-block-end: auto;
    inset-block-end: var(--keyboard-inset-bottom, auto);

    //
    inline-size: 100cqi;
    block-size: calc(100cqb - var(--keyboard-inset-height, 0px));
    
    //
    pointer-events: none;
    
    //
    grid-template-columns: minmax(0px, 1fr);
    grid-template-rows: 
        [empty-space] minmax(0px, 1fr) 
        [field-edit] minmax(max-content, 4rem);
    
    //
    .field-content {
        display: grid;
    
        //
        pointer-events: auto;
        pointer-events: bounding-box;

        //
        grid-template-columns: minmax(0px, 1fr) minmax(4rem, max-content) minmax(4rem, max-content);
        max-block-size: 4rem;

        :where(.field-copy, .field-paste) {
            padding: 1rem;
        }

        //
        .field-wrap {
            @extend .stretch;
            
            //
            display: flex;
            flex-direction: row;
            min-block-size: 4rem;
            
            //
            input {
                @extend .stretch;
                @include dFont.applyFont(1.8rem);
            
                //
                background-color: transparent;
            
                //
                padding-inline: 1rem;
                min-block-size: 4rem;
                
                //
                pointer-events: auto;
                pointer-events: bounding-box;
                user-select: auto;
            }
        }

    }
    
}
