
@use "@scss/core/classlets";
@use "@scss/fonts/xo_caliburn" as dFont;
@use "@scss/core/themed";

//
@layer ls-inputs {
    :where(.ls-switch) {
        @extend .align-center;
        @extend .stretch;
    
        //
        container-type: size;
        contain: none;
    
        //
        overflow: visible;
    
        //
        display: flex;
        position: relative;
        border-radius: 0.25rem;
        
        //
        box-sizing: border-box;
        min-block-size: max-content;
        min-inline-size: max-content;
        block-size: 1.5rem;
        inline-size: 5rem;
        max-block-size: 2.5rem;
        max-inline-size: none;
        aspect-ratio: 1 / 1;
        
        //
        background-color: var(--current-surface-color);
        color: var(--current-glyph-color);
        
        //
        pointer-events: auto;
        pointer-events: bounding-bpx;
        
        //
        .thumb {
            pointer-events: none;
        }
        
        //
        --thumb-size: 1rem;
        --space-size: 1.25rem;
        
        //
        .icon-sign {
            @extend .align-center;
            
            
            display: flex;
            pointer-events: none;
            stroke: var(--current-glyph-color);
            
            //
            translate: calc(calc(var(--space-size) * 0.5) + calc(100cqi - var(--space-size)) * var(--value-mod) - 50%) calc(50cqb - 50%);
            transition: translate 100ms linear;
            
            //
            pointer-events: none;
            position: absolute;
            inset: 0px;
            //opacity: 0;
            padding: 0.125rem;
            border-radius: calc(var(--thumb-size) * 0.45);
            //aspect-ratio: 1 / 1;
            
            //
            inline-size: var(--thumb-size);
            block-size: 110cqmin;
            max-inline-size: var(--thumb-size);
            max-block-size: 110cqmin;
            
            //
            & > * {
                @extend .stretch;
                stroke-width: 0.25rem;
                position: relative;
                inset: 0px;
                translate: 0px 0px;
                stroke: var(--current-glyph-color);
            }
        }
        
        //
        & .track {
            @extend .stretch;
            @extend .inverse;
            
            //
            pointer-events: none;
            border-radius: 0.25rem 0px 0px 0.25rem;
            
            //
            position: absolute;
            inset: 0px;
            inline-size: calc(calc(100cqi - var(--thumb-size) * 0.5) * var(--value-mod));
            transition: inline-size 100ms linear;
            
            //
            background-color: var(--current-surface-color);
            color: var(--current-glyph-color);
        }

        //
        input {
            @extend .stretch;
            
            //
            position: absolute;
            inset: 0px;
            opacity: 0;
            padding: 0px;
            cursor: pointer;
            
            //
            pointer-events: auto;
            pointer-events: bounding-bpx;
        }
    }

}