/* 
 * Here is dark or light themes based color modifiers...
 */

@use "@libraries/scss/color/colors" as cl;

//
@property --theme-is-dark { syntax: "<number>"; inherits: true; initial-value: 0; }
@property --theme-dark-up-mod   { syntax: "<color>"; inherits: true; initial-value: black; }
@property --theme-dark-down-mod { syntax: "<color>"; inherits: true; initial-value: white; }
@property --theme-light-up-mod   { syntax: "<color>"; inherits: true; initial-value: white; }
@property --theme-light-down-mod { syntax: "<color>"; inherits: true; initial-value: black; }
@property --theme-chroma-mod { syntax: "<color>"; inherits: true; initial-value: red; }
@property --theme-up-mod { syntax: "<color>"; inherits: true; initial-value: white; }
@property --theme-down-mod { syntax: "<color>"; inherits: true; initial-value: black; }

//
@layer lx-colors {
    :root, :host, :scope, :where(*) {
        --theme-chroma-mod: oklch(from #{cl.$baseColor} l 0.99 h);
        --theme-black-mod: oklch(from #{cl.$baseColor} 0.01 0.01 h);
        --theme-white-mod: oklch(from #{cl.$baseColor} 0.99 0.01 h);

        //
        --theme-dark-down-mod: color-mix(in oklch, var(--theme-black-mod) 98%, #{cl.$baseColor});
        --theme-dark-up-mod: color-mix(in oklch, var(--theme-white-mod) 90%, #{cl.$baseColor});

        //
        --theme-light-down-mod: color-mix(in oklch, var(--theme-white-mod) 98%, #{cl.$baseColor});
        --theme-light-up-mod: color-mix(in oklch, var(--theme-black-mod) 90%, #{cl.$baseColor});

        //
        --theme-up-mod: color-mix(in oklch, var(--theme-dark-up-mod) calc(100% * var(--theme-is-dark)), var(--theme-light-up-mod));
        --theme-down-mod: color-mix(in oklch, var(--theme-dark-down-mod) calc(100% * var(--theme-is-dark)), var(--theme-light-down-mod));

        //
        @supports(color: light-dark(white, black)) {
            --theme-up-mod: light-dark(var(--theme-dark-up-mod), var(--theme-light-up-mod));
            --theme-down-mod: light-dark(var(--theme-dark-down-mod), var(--theme-light-down-mod));
        }
    }
    
    :root, :where(body) {
        --theme-is-dark: 0; color-scheme: light;
        @media (prefers-color-scheme: light) { --theme-is-dark: 0; color-scheme: light; }
        @media (prefers-color-scheme: dark)  { --theme-is-dark: 1; color-scheme: dark; }
    }
}
