@mixin pf-translate(
    $tx: var(--translate-x), 
    $ty: var(--translate-y)
) {
    translate: #{$tx} #{$ty};

    //
    @supports (inset-start: round(1px, 1px)) {
        translate: 
            round(nearest, #{$tx}, 1px) 
            round(nearest, #{$ty}, 1px);
    }
}
