/* 
 * Here is very simple class-lets, for something harder use complex!
 */

@layer lx-classlets {

    // usable for grid-items
    .auto-space {
        inline-size: auto;
        inline-size: stretch;
        block-size: auto;
        block-size: stretch;
    }

    //
    .stretch {
        inline-size: auto;
        inline-size: 100%;
        inline-size: stretch;
        block-size: auto;
        block-size: 100%;
        block-size: stretch;
        
        //
        max-inline-size: none;
        max-inline-size: stretch;
        max-block-size: none;
        max-block-size: stretch;
    }

    //
    .contained {
        inline-size: 100cqi;
        block-size: 100cqb;
    }

    //
    .fixed { position: fixed; }
    .inset-0 { inset: 0px; };

    //
    .horizontal-force {
        writing-mode: horizontal-tb;
    }

    //
    .orientation-adaptive {
        transform-origin: center center;
        writing-mode: var(--pwm);
        direction: var(--pdir);
        rotate: var(--pfrot, 0deg);
    }

    //
    .padding-0 {
        padding: 0px;
    }

    //
    .overflow-visible {
        overflow: visible;
    }

    //
    .relative {
        position: relative;
    }

    // bit-complex element
    .grid-inside {
        position: relative;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    //
    .pointer-events-enable {
        pointer-events: auto;
        pointer-events: bounding-box;
    }

    //
    .pe-enable {
        @extend .pointer-events-enable;
    }

    //
    .user-select-enable {
        -webkit-user-select: auto;
        -khtml-user-select: auto;
        -moz-user-select: auto;
        -o-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }

    //
    .us-enable {
        @extend .user-select-enable;
    }

    //
    .user-drag-enable {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;
    }

    //
    .ud-enable {
        @extend .user-drag-enable;
    }

    //
    .pointer-events-none {
        pointer-events: none;

        //
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;

        //
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;
    }

    //
    .pe-none {
        @extend .pointer-events-none;
    }

    // not depends from virtual keyboards
    .fixed-avail {
        @extend .fixed;
        @extend .inset-0;
        
        //
        inline-size: 100dvi;
        block-size: 100dvb;
        
        //
        @media all and ((display-mode: fullscreen) or (display-mode: standalone) or (display-mode: window-controls-overlay)){
            inline-size: var(--avail-width, 100dvi);
            block-size: var(--avail-height, 100dvb);
        }
    }

    // depends from virtual keyboards
    .fit-viewport {
        inline-size: min(100dvi, 100cqi);
        block-size: min(100dvb, 100cqb);
    }

    //
    .cursor-pointer {
        cursor: pointer;
    }

    // bit-complex element
    .grid-based-box {
        @extend .stretch;

        //
        container-type: size;
        contain: content;
        
        //
        isolation: auto;

        //
        display: grid;
        grid-template-columns: minmax(0px, 1fr);
        grid-template-rows: minmax(0px, 1fr);
        position: fixed;
        inset: 0px;

        //
        pointer-events: none;
        overflow: visible;

        //
        & > :where(*) {
            @extend .contained;
            @extend .grid-inside;
        }
    }
    
    //
    .inset-auto {
        inset: auto;
    }
    
    //
    .no-contain {
        container-type: normal;
        contain: none;
    }

    //
    .layer-1m { z-index: -1; };
    .layer-0 { z-index: 0; };
    .layer-1 { z-index: 1; };
    .layer-2 { z-index: 2; };
    .layer-9999 { z-index: 9999; };
    .layer-99999 { z-index: 99999; };

    // display: contents + pointer-events: none
    // used for transparent wrappers
    .contents {
        container-type: normal;
        contain: none;
        display: contents;
        pointer-events: none;
        background-color: transparent;
    }
    
    //
    .max-content-as-min {
        min-inline-size: max-content;
        min-block-size: max-content;
    }
    
    .inline-stretch {
        inline-size: stretch;
        block-size: max-content;
        
        max-block-size: stretch;
        min-block-size: max-content;
    }
    
    //
    .contain-size {
        container-type: size;
        contain: content;
        
        //
        @extend .max-content-as-min;
        @extend .stretch;
    }
    
    //
    .contain-inline-size {
        container-type: inline-size;
        contain: content;
        
        //
        @extend .inline-stretch;
    }

    //
    .round-ns {
        border-radius: 0.2rem;
    }
    
    //
    .align-center {
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    

}
