@use "../color/colorvars" as cl;
@use "../color/colorutils" as cu;

//
@keyframes highlight-gradient-pulse {
    0% {
        --pulse-mod: 1;
    }
    50% {
        --pulse-mod: 2;
    }
    100% {
        --pulse-mod: 1;
    }
}

//
@keyframes highlight-gradient-move {
    0% {
        --gradient-offset: 0;
    }
    100% {
        --gradient-offset: var(--animation-size);
    }
}

//
@mixin highlight-radial-gradient {
    //background-attachment: fixed       ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-origin: border-box ;
    background-clip: border-box ;
    background-color: #{cu.theme-mod-up(var(--theme-surface-color), calc(var(--highlight-coefficient) * 1%))} ;
    background-image: radial-gradient(
        circle at calc(var(--pointer-x) * 1px) calc(var(--pointer-y) * 1px),
        #{cu.theme-mod-up(var(--theme-surface-color), calc(var(--highlight-coefficient) * var(--pulse-mod) * 1%))} 0%,
        #{cu.theme-mod-up(var(--theme-surface-color), calc(var(--highlight-coefficient) * 1%))} 100%
    );
}

//
@mixin highlight-animation() {
    //
    animation-play-state: paused;
    animation-name: none;

    //
    @media (prefers-reduced-motion: no-preference) {
        animation-direction: normal ;
        animation-timing-function: linear ;
        animation-fill-mode: both ;
        animation-play-state: running;
        animation-iteration-count: 0;
        
        //
        //@media (hover: hover) and (pointer: fine) {
            //&:active, &:hover { cursor: pointer; }
        //}
        
        //
        &:active, &:hover {
            animation-iteration-count: infinite;
            animation-play-state: running;
            animation-name: highlight-gradient-pulse;
            animation-duration: 2s;
        }
    }
}
