@use "@scss/fonts/xo_caliburn" as dFont;
@use "./classlets";

//
@layer ls-normalize {

    //
    @mixin HQRendering($importance: null) {
        -webkit-font-smoothing: subpixel-antialiased #{$importance};
        -moz-osx-font-smoothing: auto #{$importance};
        text-rendering: optimizeLegibility #{$importance};
        text-rendering: geometricPrecision #{$importance};
        font-smooth: auto #{$importance};
    }

    @mixin LQRendering($importance: null) {
        -webkit-font-smoothing: none #{$importance};
        -moz-osx-font-smoothing: grayscale#{$importance};
        text-rendering: optimizeSpeed #{$importance};
        font-smooth: 0px #{$importance};
        font-smooth: never #{$importance};
    }

    //
    :where(div, span) {
        background-color: transparent;
    }

    //
    html, body {
        padding: 0px;
        margin: 0px;
        inset: 0px;
        border: none 0px transparent;
        background-color: transparent;

        //
        @include HQRendering();
        @include dFont.applyFont(0.95rem);
    }

    //
    html {
        inline-size: max-content;
        block-size: max-content;
        overflow: hidden;
        position: fixed;
        
        //
        background-color: white;
    }

    //
    body {
        //@extend .vp-exclude-keyboard;
        @extend .vp-bounding-box;
        @extend .use-vp-size;

        //
        overflow: hidden;
        position: relative;
        
        //
        --ppx: calc(1px / var(--scaling, 1));

        //
        background-color: transparent;
        zoom: var(--scaling, 1);

        // if needs viewport
        container-type: size;
        contain: strict;
    }

    //
    :where(canvas, img, picture, video) {
        pointer-events: none;
        @extend .no-user-select;
    }

    //
    :where(*) {
        @extend .no-user-select;
        
        //
        box-sizing: border-box;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        box-shadow: none;
        
        //
        touch-action: pan-y pan-x;
    }
    
    //
    :where(.lucide) {
        display: block;
        contain-intrinsic-width: 24px;
        contain-intrinsic-height: 24px;
        contain: size;
        aspect-ratio: 1 / 1;
        pointer-events: none;
        
        //
        inline-size: auto;
        inline-size: stretch;
        block-size: auto;
        block-size: stretch;
    }

    //
    :where([inert], *[inert]) {
        @extend .pointer-events-none
    }

    //
    :where(canvas):is([is="w-canvas"]) {
        min-inline-size: 100cqi;
        min-block-size: 100cqb;
        
        //
        inline-size: 100%;
        block-size: 100%;
        
        //
        inline-size: stretch;
        block-size: stretch;
        
        //
        aspect-ratio: auto;
        display: block;

        //
        image-rendering: auto;
        image-rendering: optimizeQuality;
        image-rendering: smooth;
        image-rendering: high-quality;
    }

}
