@use "@scss/fonts/xo_caliburn" as dFont;
@use "./classlets";

//
@layer ls-normalize {

    //
    @media (prefers-reduced-motion: reduce) {
        :where(*),
        ::after,
        ::before {
            animation-delay: -1ms !important;
            animation-duration: 1ms !important;
            animation-iteration-count: 1 !important;
            background-attachment: initial !important;
            scroll-behavior: auto !important;
            transition-delay: 0s !important;
            transition-duration: 0s !important;
        }
    }

    //
    @mixin HQRendering($importance: null) {
        -webkit-font-smoothing: subpixel-antialiased #{$importance};
        -moz-osx-font-smoothing: auto #{$importance};
        text-rendering: optimizeLegibility #{$importance};
        text-rendering: geometricPrecision #{$importance};
        font-smooth: auto #{$importance};
    }

    @mixin LQRendering($importance: null) {
        -webkit-font-smoothing: none #{$importance};
        -moz-osx-font-smoothing: grayscale#{$importance};
        text-rendering: optimizeSpeed #{$importance};
        font-smooth: 0px #{$importance};
        font-smooth: never #{$importance};
    }

    //
    :where(div, span) {
        background-color: transparent;
    }

    //
    :where(html, body) {
        padding: 0px;
        margin: 0px;
        inset: 0px;
        border: none 0px transparent;
        background-color: transparent;

        //
        @include HQRendering();
        @include dFont.applyFont(0.9rem);
    }

    //
    head {
        display: none !important;
        pointer-events: none !important;
    }

    //
    html {
        background-color: transparent;
        inline-size: max-content;
        block-size: max-content;
        overflow: hidden;
        position: fixed;
        display: contents;
    }

    //
    body {
        //@extend .vp-exclude-keyboard;
        @extend .fit-viewport;

        //
        background-color: white !important;

        //
        overflow: hidden;
        position: relative;
        
        //
        background-color: transparent;
        //zoom: var(--scaling, 1);

        // if needs viewport
        container-type: size;
        contain: strict;
        
        //
        will-change: --keyboard-inset-bottom, --keyboard-inset-height, contents, inset;
    }

    //
    :where(canvas, img, picture, video) {
        pointer-events: none;
        overflow: hidden !important;
        @extend .no-user-select;
    }
    
    //
    :where(picture) {
        display: contents;
    }

    //
    :where(*) {
        @extend .no-user-select;
        
        //
        box-sizing: border-box;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        box-shadow: none;
        
        //
        touch-action: pan-y pan-x;
    }
    
    //
    :where(.lucide) {
        display: block;
        contain-intrinsic-width: 1.5rem;
        contain-intrinsic-height: 1.5rem;
        contain: size;
        aspect-ratio: 1 / 1;
        pointer-events: none;
        position: relative;
        
        //
        inset: 0px;
        translate: 0px 0px;
        visibility: visible;
        opacity: 1;
        
        //
        inline-size: auto;
        inline-size: stretch;
        block-size: auto;
        block-size: stretch;
        
        //
        stroke: var(--current-glyph-color);
    }

    //
    :where([inert], *[inert]) {
        @extend .pointer-events-none
    }

    //
    :where(canvas):is([is="w-canvas"]) {
        min-inline-size: 100cqi;
        min-block-size: 100cqb;
        
        //
        inline-size: 100%;
        block-size: 100%;
        
        //
        inline-size: stretch;
        block-size: stretch;
        
        //
        aspect-ratio: auto;
        display: block;

        //
        image-rendering: auto;
        image-rendering: optimizeQuality;
        image-rendering: smooth;
        image-rendering: high-quality;
    }

}
