@mixin initials() {
    :where(h1, h2, h3) {
        line-height: 1.2;
        max-width: 35ch;
    }

    :where(h1) {
        font-size: 2.5rem;
    }

    :where(h2) {
        font-size: 2rem;
    }

    :where(h3) {
        font-size: 1.75rem;
    }

    /* More info: https://piccalil.li/quick-tip/limit-line-lengths-to-increase-readability/ */
    :where(p, li, dl) {
        max-width: 70ch;
    }

    :where(dl) {
        display: grid;
        grid-template-columns: minmax(auto, 20ch) minmax(0px, 1fr);
        grid-gap: 0.5rem 1rem;
    }

    :where(dt) {
        font-weight: bold;
    }

    :where(li + li) {
        margin-top: 0.7rem;
    }

    :where(blockquote) {
        border-left: 0.25rem solid;
        font-style: italic;
        font-size: 1.25rem;
        line-height: 1.35;
        max-width: 55ch;
        padding-left: 1.25rem;
    }

    :where(code) {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 0.95em;
        font-weight: bold;
    }

    :where(pre) {
        padding: 1.25rem;
        background: #e4e6ec;
        max-width: 90ch;
    }

    :where(pre code) {
        display: block;
        width: 100%;
        word-spacing: normal;
        word-break: normal;
        tab-size: 2;
        hyphens: none;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    /* Links and focus states */
    :where(a) {
        color: currentColor;
    }

    :where(a:hover) {
        text-decoration: none;
    }

    :where(:focus) {
        outline: 1px dashed currentColor;
        outline-offset: 0.15rem;
    }

    /* Handy utils */
    :where(.wrapper) {
        max-width: 65rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    /* More info: https://piccalil.li/quick-tip/flow-css-utility/ */
    :where(.flow > * + *) {
        margin-top: var(--flow-space, 1em);
    }

    /* A handy composition block for managing content flow. More on this sorta thing: https://cube.fyi */
    :where(.post) {
        font-size: 1.125rem;
        --flow-space: 1.8rem;
    }

    :where(.post):where(h2, h3, footer) {
        --flow-space: 3rem;
    }

    :where(.post):where(h1 + *, h2 + *, h3 + *) {
        --flow-space: 1rem;
    }

    :where(p, ul) {
        display    : block ;
        padding    : 0px   ;
        margin     : 0px   ;
        line-height: normal          ;
        white-space: preserve nowrap ;
        word-break : keep-all        ;
        word-break : auto-phrase     ;
    }

    :where(ul) {
        white-space: collapse nowrap;
    }

    :where(ul > li) {
        list-style-position: inside          ;
        display            : list-item       ;
        line-height        : normal          ;
        white-space        : collapse nowrap ;
        word-break         : keep-all        ;
        word-break         : auto-phrase     ;
        padding            : 0px             ;
        margin             : 0px             ;

        //
        &::marker {
            display    : inline-block;
            inline-size: max-content ;
             block-size: max-content ;
        }
    }
}
