@use "@libraries/scss/color/colorutils" as cu;
@use "@libraries/scss/color/colors" as cl;

// default
.themed {
    --theme-glyph-color: #{cu.theme-mod-down(cl.$baseColor, 90%)};
    --theme-surface-color: #{cu.theme-mod-up(cl.$baseColor, 60%)};

    //
    .icon-box {
        --theme-glyph-color: #{cu.theme-mod-down(cl.$baseColor, 90%)};
        --theme-surface-color: #{cu.theme-mod-up(cl.$baseColor, 40%)};
    }
}

// 
.solid {
    --theme-glyph-color: #{cu.theme-mod-down(cl.$baseColor, 90%)};
    --theme-surface-color: #{cu.theme-mod-up(cl.$baseColor, 60%)};
}

// 
.transparent {
    --theme-glyph-color: #{cu.theme-mod-down(cl.$baseColor, 90%)};
    background-color: transparent;
}

//
.apply-color-theme {
    background-color: var(--current-surface-color);
    color: var(--current-glyph-color);
}

//
.force-light { --theme-is-dark: 0; color-scheme: light; }
.force-dark { --theme-is-dark: 1; color-scheme: dark; }
