@use "@scss/core/classlets";
@use "./gridmisc.scss" as gm;

//
@layer ls-icon-grid {

    //
    .icon-grid {
        display: grid;
        touch-action: none !important; 
        position: relative;

        //
        grid-template-columns: repeat(var(--columns), minmax(0px, 1fr));
        grid-template-rows: repeat(var(--rows), minmax(0px, 1fr));

        //
        --c-gap: 1;
        --r-gap: 1;

        //
        padding-inline: calc(var(--c-gap) * 0.5rem);
        padding-block : calc(var(--r-gap) * 0.5rem);

        //
        column-gap: calc(var(--c-gap) * 1rem);
        row-gap: calc(var(--r-gap) * 1rem);
        
        //
        pointer-events: none;
        overflow: visible;
        
        //
        background-color: transparent;
    }

    //
    .icon-placement {
        filter: drop-shadow(0px 0px 0.125rem #000000E0);
    
        //
        @include gm.calculateMetric();
        @extend .align-center;
        @extend .no-contain;
        @extend .stretch;

        //
        touch-action: none !important; 

        // stretch or moz-available works buggy
        @-moz-document url-prefix() {
            inline-size: 100%;
            block-size: 100%;
        }
        
        //
        min-inline-size: max-content;
        min-block-size: max-content;

        //
        grid-column: auto;
        grid-column: var(--fc-cell-x);

        //
        grid-row: auto;
        grid-row: var(--fc-cell-y);

        //
        will-change: --translate-x, --translate-y;
        --translate-x: calc(var(--drag-x) * 1px);
        --translate-y: calc(var(--drag-y) * 1px);

        //
        display: flex;
        
        //
        background-color: transparent;
    }

    //
    .grid-item-label {
        background-color: transparent;
        touch-action: none !important; 
    
        & > span {
            background-color: transparent;
            touch-action: none !important; 
            
            display: inline-grid;
            transform: rotate(calc(0deg - var(--pfrot, 0deg))) translate(0, 2.75rem);
            writing-mode: horizontal-tb;
            
            color: white;
        }
    }

    //.icon-label {
        //filter: drop-shadow(0px 0px 0.125rem #000000A0)
    //}

    //
    .icon-item {
        @extend .stretch;
    
        //
        overflow: visible;
        background-color: transparent;
        touch-action: none !important; 

        //
        min-inline-size: max-content;
        min-block-size: max-content;

        //
        container-type: size;
        contain: none;

        //
        & .icon-design {
            @extend .pe-enable;
            @extend .align-center;
            
            //
            rotate: calc(0deg - var(--pfrot, 0deg));
            
            //
            --icon-size: 4rem;
            --icon-size: min(100cqmin, 4rem);

            //
            clip-path: var(--clip-path);
            cursor: grab;
            padding: calc(var(--icon-size) * 0.3);

            //
            aspect-ratio: 1 / 1;
            
            //
            min-inline-size: max-content;
            min-block-size: max-content;
            inline-size: var(--icon-size);
            block-size: var(--icon-size);
            max-inline-size: var(--icon-size);
            max-block-size: var(--icon-size);
            
            border-radius: calc(var(--icon-size) * 0.5);

            // debug
            background-color: var(--current-surface-color);
            touch-action: none !important; 

            //
            will-change: translate, transform, --translate-x, --translate-y;
            translate: var(--translate-x) var(--translate-y);
    
            //
            display: flex;
        }
    }

    //
    .icon-grid[data-type="bucket"] {
        .icon-placement {
            //
            grid-column: auto;
            grid-column: var(--fp-cell-x);

            //
            grid-row: auto;
            grid-row: var(--fp-cell-y);
            
            //
            touch-action: none !important; 
        }
    }

}
