@use "@scss/core/classlets";
@use "./gridmisc.scss" as gm;

//
@layer lx-icon-grid {

    //
    .icon-grid {
        display: grid;

        //
        grid-template-columns: repeat(var(--columns), minmax(0px, 1fr));
        grid-template-rows: repeat(var(--rows), minmax(0px, 1fr));

        //
        --c-gap: 1;
        --r-gap: 1;

        //
        padding-inline: calc(var(--c-gap) * 0.5rem);
        padding-block : calc(var(--r-gap) * 0.5rem);

        //
        column-gap: calc(var(--c-gap) * 1rem);
        row-gap: calc(var(--c-gap) * 1rem);
        
        //
        pointer-events: none;
        overflow: visible;
        
        //
        background-color: transparent;
    }

    //
    .icon-placement {
        //
        @include gm.calculateMetric();
        @extend .align-center;
        @extend .no-contain;

        //
        grid-column: auto;
        grid-column: var(--fc-cell-x);

        //
        grid-row: auto;
        grid-row: var(--fc-cell-y);

        //
        will-change: --translate-x, --translate-y;
        --translate-x: calc(var(--drag-x) * 1px);
        --translate-y: calc(var(--drag-y) * 1px);

        //
        display: flex;
        
        //
        background-color: transparent;
    }

    //
    .grid-item-label {
        background-color: transparent;
    
        & > span {
            background-color: transparent;
            
            display: inline-grid;
            transform: translate(0, 3rem) rotate(calc(0deg - var(--pfrot, 0deg)));
            writing-mode: horizontal-tb;
            
            color: white;
        }
    }

    //
    .icon-item {
        overflow: visible;
        background-color: transparent;

        //
        & .icon-design {
            @extend .pe-enable;
            @extend .align-center;
            
            //
            --icon-size: min(100cqmin, 4rem);

            //
            clip-path: var(--clip-path);
            cursor: grab;
            padding: 1rem;

            //
            aspect-ratio: 1 / 1;
            inline-size: var(--icon-size);
            block-size: var(--icon-size);
            border-radius: calc(var(--icon-size) * 0.5);

            // debug
            background-color: var(--current-surface-color);

            //
            will-change: translate, transform, --translate-x, --translate-y;
            translate: var(--translate-x) var(--translate-y);
    
            //
            display: flex;
        }
    }

    //
    .icon-grid[data-type="bucket"] {
        .icon-placement {
            //
            grid-column: auto;
            grid-column: var(--fp-cell-x);

            //
            grid-row: auto;
            grid-row: var(--fp-cell-y);
        }
    }

}
