@layer lx-properties {
    
    //
    @property --cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --vect-x { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --vect-y { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --drag-x { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --drag-y { syntax: "<number>"; initial-value: 0; inherits: true; }

    //
    @property --p-drag-x { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --p-drag-y { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --p-cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --p-cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }

    //
    @property --grid-w { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --grid-h { syntax: "<number>"; initial-value: 0; inherits: true; }

    //
    @property --f-col { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --f-row { syntax: "<integer>"; initial-value: 0; inherits: true; }

    //
    @property --fc-cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --fc-cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --fp-cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --fp-cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }


    //
    @property --ppx {
        syntax: "<length-percentage>";
        initial-value: 1px;
        inherits: true;
    }

    //
    @property --translate-x {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --translate-y {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --avail-width {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --avail-height {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --r-gap {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --c-gap {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --rows {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --columns {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --scaling {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --icon-size {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }
    
    //
    @property --theme-accent-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --theme-base-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --theme-glyph-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --theme-surface-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --current-glyph-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --current-surface-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --current-chroma-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --current-accent-color { syntax: "<color>"; initial-value: black; inherits: true; };
    @property --highlight-coefficient { syntax: "<number>"; initial-value: 0; inherits: true; };
}
