@use "@unite/scss/core/CMixins" as cm;
@use "@unite/scss/core/Utils" as u;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme";

//
@layer ui-settings {
    //
    #settings {
        //
        .form-description {
            @include cm.no-wrap;

            //
            inline-size: 100%;
            block-size: 100%;

            //
            pointer-events: none;
            place-content: center;
            place-items: center;

            //
            display: flex;
            padding: 2rem;
            opacity: 0.6;
            padding-block-end: 0.5rem;
            padding-inline: min(2rem, 5cqi);
            font-size: 0.8rem;

            //
            justify-content: start;

            //
            background-color: var(--current-surface-color);
        }

        //
        .opt-label {
            @include cm.no-wrap;

            //
            inline-size: 100%;
            block-size: 100%;

            //
            pointer-events: none;
            place-content: center;
            place-items: center;

            //
            text-align: start;
            justify-self: start;
            justify-content: start;
            justify-items: start;

            //
            display: flex;
        }
    }
}
