@use "./gridmisc.scss" as gm;

//
.icon-grid {
    display: grid;

    //
    grid-template-columns: repeat(minmax(0px, 1fr), var(--columns));
    grid-template-rows: repeat(minmax(0px, 1fr), var(--rows));

    //
    --c-gap: 0.5rem;
    --r-gap: 0.5rem;

    //
    padding-inline: calc(var(--c-gap) * 0.5px);
    padding-block : calc(var(--r-gap) * 0.5px);

    //
    column-gap: calc(var(--c-gap) * 1px);
       row-gap: calc(var(--c-gap) * 1px);
}

//
.icon-placement {
    //
    @include gm.calculateMetric();

    //
    grid-column: auto;
    grid-column: var(--fc-cell-x, auto);

    //
    grid-row: auto;
    grid-row: var(--fc-cell-y, auto);
}
