@layer lx-normalize {

    //
    @mixin HQRendering($importance: null) {
        -webkit-font-smoothing: subpixel-antialiased #{$importance};
        -moz-osx-font-smoothing: auto #{$importance};
        text-rendering: optimizeLegibility #{$importance};
        text-rendering: geometricPrecision #{$importance};
        font-smooth: auto #{$importance};
    }

    @mixin LQRendering($importance: null) {
        -webkit-font-smoothing: none #{$importance};
        -moz-osx-font-smoothing: grayscale#{$importance};
        text-rendering: optimizeSpeed #{$importance};
        font-smooth: 0px #{$importance};
        font-smooth: never #{$importance};
    }

    //
    html, body {
        padding: 0px;
        margin: 0px;
        inset: 0px;
        border: none 0px transparent;

        //
        @include HQRendering();
    }

    //
    html {
        inline-size: max-content;
        block-size: max-content;
        overflow: hidden;
        position: fixed;
    }

    //
    body {
        min-inline-size: 100dvi;
        min-block-size: 100dvb;

        //
        overflow: hidden;
        position: relative;
        
        //
        inline-size: 100dvi;
        block-size: 100dvb;
        
        //
        @media all and ((display-mode: fullscreen) or (display-mode: standalone) or (display-mode: window-controls-overlay)){
            inline-size: var(--avail-width, 100dvi);
            block-size: var(--avail-height, 100dvb);
        }

        //
        zoom: var(--scaling, 1);

        // if needs viewport
        container-type: size;
        contain: strict;
    }

    @mixin no-user-select {
        //
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        //
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;
    }

    //
    :where(canvas, img, picture, video) {
        pointer-events: none;
        @include no-user-select;
    }

    //
    :where(*) {
        @include no-user-select;
        
        //
        box-sizing: border-box;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        box-shadow: none;
    }
    
    //
    :where(.lucide) {
        display: block;
        contain-intrinsic-width: 24px;
        contain-intrinsic-height: 24px;
        contain: size;
        aspect-ratio: 1 / 1;
        pointer-events: none;
        
        //
        inline-size: auto;
        inline-size: stretch;
        block-size: auto;
        block-size: stretch;
    }

    //
    :where([inert], *[inert]) {
        pointer-events: none;
        @include no-user-select;
    }

    //
    :where(canvas):is([is="w-canvas"]) {
        min-inline-size: 100cqi;
        min-block-size: 100cqb;
        
        //
        inline-size: 100%;
        block-size: 100%;
        
        //
        inline-size: stretch;
        block-size: stretch;
        
        //
        aspect-ratio: auto;
        display: block;

        //
        image-rendering: auto;
        image-rendering: optimizeQuality;
        image-rendering: smooth;
        image-rendering: high-quality;
    }

}
