/* 
 * Here is very simple class-lets, for something harder use complex!
 */

@layer lx-classlets {

    // usable for grid-items
    .fill-space {
        inline-size: auto;
        inline-size: stretch;
        block-size: auto;
        block-size: stretch;
    }
}
