@use "@unite/scss/core/ClassLets";
@use "@unite/scss/core/Utils" as u;
@use "@unite/scss/core/Detector" as d;

//
@use "@unite/scss/design/ColorTheme";

//
@layer ls-manager {

    //
    #manager {
        
        
        
        //
        .file-list {
            @extend .stretch;
            @extend .align-center;
            @extend .no-wrap;
            
            //
            display: grid;
            grid-template-columns: minmax(0px, 2rem) minmax(0px, 1fr);
            grid-auto-rows: minmax(0px, 2rem);
            gap: 0rem 1rem;
            font-size: 0.8rem;
            
            //
            align-content: start;
            
            //
            .file {
                @extend .stretch;
                @extend .align-center;
                @extend .pe-enable;
                @extend .no-wrap;
                
                //
                cursor: pointer;
            
                //
                display: grid;
                padding-inline: 1rem;
                
                //
                grid-template-columns: subgrid;
                grid-template-rows: minmax(0px, 1fr);
                grid-column: 1 / -1;
                
                //
                & * {
                    background-color: transparent;
                    @extend .no-wrap;
                }
                
                //
                &.selected {
                    @extend .ux-inverse;
                }
                
                //
                & .name {
                    text-align: start;
                    justify-self: start;
                }
                
                //
                & > * {
                    inline-size: max-content;
                    block-size: max-content;
                    
                    //
                    max-inline-size: stretch;
                    max-block-size: stretch;
                }
            }
        }
        
    }
}
