@use "@scss/color/colorvars" as cl;
@use "@scss/color/colorutils" as cu;

//
@layer lx-decors {
    .block-decor {
        min-block-size: 2rem;
        inline-size: stretch;
        block-size: max-content;
        
        //
        display: grid;
        box-sizing: border-box;
        
        //
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        
        //
        grid-template-columns: minmax(2rem, max-content) minmax(0px, 1fr) minmax(2rem, max-content);
        grid-template-rows: minmax(2rem, max-content);
        
        //
        padding: 0px;
        margin: 0px;
        
        //
        background-color: var(--current-surface-color);
        color: var(--current-glyph-color);
        
        //
        & > :where(.icon-wrap, .label-box, .in-element) {
            box-sizing: border-box;
            background-clip: border-box;
            background-origin: content-box;
            padding: 1rem;
            
            //
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            
            //
            text-align: start;
        }
        
        //
        & > :where(.icon-wrap) {
            //background-color: var(--current-surface-color);
            background-color: transparent;
            color: var(--current-glyph-color);
        }
        
        //rangeSlider
        & > .icon-wrap  { grid-column: 1 / 1; grid-row: 1 / 1; inline-size: stretch; block-size: stretch; }
        & > .label-box  { grid-column: 2 / 2; grid-row: 1 / 1; inline-size: stretch; block-size: stretch; justify-self: start; }
        & > .in-element { grid-column: 3 / 3; grid-row: 1 / 1; inline-size: stretch; block-size: stretch; }
        
        //
        &.layout-alt {
            grid-template-columns: minmax(2rem, max-content) minmax(0px, 1fr);
            grid-template-rows: minmax(2rem, max-content) minmax(2rem, max-content);
            
            //
            & > .icon-wrap  { grid-column: 1 / 1; grid-row: 1 / span 2; }
            & > .in-element { grid-column: 2 / 2; grid-row: 2 / 2; }
            & > .label-box  { grid-column: 2 / 2; grid-row: 1 / 1; justify-self: start; }
        }
        
        //
        & > .icon-wrap > .icon-box {
            min-block-size: 2rem;
            max-block-size: stretch;
            
            min-inline-size: 2rem;
            max-inline-size: stretch;
            
            block-size: max-content;
            inline-size: max-content;
            
            padding: 0.5rem;
            aspect-ratio: 1 / 1;
        }
    }
}