@layer lx-properties {
    
    //
    @property --translate-x {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --translate-y {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --avail-width {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --avail-height {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --r-gap {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --c-gap {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --rows {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --columns {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --scaling {
        syntax: "<number>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --icon-size {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }
    
}
