@use "@unite/scss/core/ClassMods" as cm;

//
@layer ux-editor {
    //
    .ux-editor {
        @include cm.pe-none;
        @include cm.stretch;

        //
        display: grid;
        z-index: 999999;
        overflow: hidden;
        align-self: start;

        //
        //position: fixed;

        //
        inset: 0px;
        inset-block-start: auto;
        //inset-block-end: var(--keyboard-inset-bottom, 0px);

        //
        pointer-events: auto !important;
        grid-row: field-edit !important;

        //
        box-shadow: 0px 0px 1rem 1px #00000070;

        //
        grid-template-columns: minmax(0px, 1fr) minmax(3rem, max-content) minmax(3rem, max-content);
        grid-template-rows: minmax(3rem, max-content);

        //
        max-block-size: 3rem;
        min-block-size: 3rem;
        block-size: max-content;

        //
        :where(.field-copy, .field-paste) {
            @include cm.stretch;
            @include cm.align-center;

            //
            display: flex;
            padding: 1rem !important;

            //
            border-radius: 0px;

            //
            cursor: pointer;
        }

        //
        .field-wrap {
            @include cm.stretch;

            //
            //display: flex;
            display: contents;
            flex-direction: row;
            min-block-size: 3rem;

            //
            input {
                @include cm.stretch;
                //@include cm.pe-enable;

                //
                pointer-events: auto !important;

                //
                font-size: 1.3rem;

                //@include dFont.applyFont(1.8rem);

                //
                padding-inline: 1rem;
                min-block-size: 3rem;

                //
                user-select: auto;
            }
        }
    }
}
