@use "@unite/scss/core/ClassMods" as cm;
@use "@unite/scss/core/Utils" as u;

//
@use "@unite/scss/design/ColorTheme";
@use "@unite/scss/design/ColorVars" as cl;
@use "@unite/scss/design/ColorUtils" as cu;

//
@layer ui-inputs {
    :where(.number-input) {
        place-content: center;
        place-items: center;
        pointer-events: auto;

        //
        --block-size: 2rem;

        //
        display: grid;
        grid-template-columns:
            minmax(var(--block-size), max-content)
            minmax(max-content, 1fr)
            minmax(var(--block-size), max-content);
        grid-template-rows: minmax(var(--block-size), max-content);
        block-size: var(--block-size);

        //
        overflow: hidden;
        border-radius: 0.25rem;
        min-inline-size: max-content;

        //
        &,
        input {
            font-family:
                "Consolas",
                "Menlo",
                "Monaco",
                "Lucida Console",
                "Liberation Mono",
                "DejaVu Sans Mono",
                "Bitstream Vera Sans Mono",
                "Courier New",
                monospace,
                serif;
        }

        //
        & .input-wrap {
            @include cm.stretch;

            //
            @include u.clamped-height(var(--block-size), stretch, var(--block-size));

            //
            background-color: var(--current-surface-color);
            overflow: visible;
        }

        //
        & input {
            @include cm.stretch;
            @include cm.no-wrap;

            //
            pointer-events: none;
            cursor: default;

            //
            padding: 0px;
            overflow: visible;
            inline-size: 4em;
            min-inline-size: 0px;
            display: inline-block;
            opacity: 1;
            text-align: center;
            background: transparent;

            appearance: textfield;
            visibility: visible;

            //
            font-size: 0.7rem;
            color: var(--current-glyph-color);

            //
            @include u.clamped-height(var(--block-size), stretch, var(--block-size));
        }

        //
        & > * {
            @include cm.align-center;
            @include cm.stretch;
            @include cm.max-content-as-min;

            //
            display: flex;
            padding: 0.25rem;
            background: transparent;

            //
            @include u.clamped-height(var(--block-size), stretch, var(--block-size));
        }

        //
        & > :is(.f-minus, .f-plus) {
            cursor: pointer;
            background-color: var(--current-surface-color);
        }

        //
        & > .icon-wrap {
            @include cm.stretch;
            @include cm.max-content-as-min;
            aspect-ratio: 1 / 1;
        }
    }
};
