@use "./gridmisc.scss" as gm;

//
@layer lx-icon-grid {

    //
    .icon-grid {
        display: grid;

        //
        grid-template-columns: repeat(var(--columns), minmax(0px, 1fr));
        grid-template-rows: repeat(var(--rows), minmax(0px, 1fr));

        //
        --c-gap: 1;
        --r-gap: 1;

        //
        padding-inline: calc(var(--c-gap) * 0.5rem);
        padding-block : calc(var(--r-gap) * 0.5rem);

        //
        column-gap: calc(var(--c-gap) * 1rem);
        row-gap: calc(var(--c-gap) * 1rem);
        
        //
        pointer-events: none;
        overflow: visible;
    }

    //
    .icon-placement {
        //
        @include gm.calculateMetric();

        //
        grid-column: auto;
        grid-column: var(--fc-cell-x);

        //
        grid-row: auto;
        grid-row: var(--fc-cell-y);

        //
        container-type: size;
        contain: size;

        //
        will-change: --translate-x, --translate-y;
        --translate-x: calc(var(--drag-x) * var(--pxd));
        --translate-y: calc(var(--drag-y) * var(--pxd));

        //
        display: flex;

        //
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    //
    .icon-item {
        overflow: visible;

        //
        & .icon-design {
            --icon-size: min(100cqmin, 4rem);

            //
            aspect-ratio: 1 / 1;
            inline-size: var(--icon-size);
            block-size: var(--icon-size);
            border-radius: calc(var(--icon-size) * 0.5);

            //
            pointer-events: auto;
            pointer-events: bounding-box;

            // debug
            background-color: black;

            //
            will-change: translate, transform, --translate-x, --translate-y;
            translate: var(--translate-x) var(--translate-y);
            
            //
            display: flex;
            
            //
            align-content: center;
            align-items: center;
            justify-content: center;
            justify-items: center;
        }
    }

    //
    .icon-grid[data-type="bucket"] {
        .icon-placement {
            //
            grid-column: auto;
            grid-column: var(--fp-cell-x);

            //
            grid-row: auto;
            grid-row: var(--fp-cell-y);
        }
    }

}
