@use "@unite/core/ClassLets";
@use "@unite/core/Utils" as u;
@use "@unite/design/ColorTheme";
@use "@unite/core/Detector" as d;

//
@layer ls-settings {

    //
    #settings {
        
        //
        .form-description {
            @extend .stretch;
            @extend .align-center;
            @extend .no-wrap;
        
            //
            display: flex;
            padding: 1rem;
            opacity: 0.6;
            padding-block-end: 0rem;
            font-size: 0.8rem;
            
            //
            background-color: var(--current-surface-color);
        }
        
        //
        .opt-label {
            @extend .align-center;
            @extend .stretch;
            @extend .no-wrap;
            @extend .align-inline-left;
            
            //
            display: flex;
        }
        
    }
}
